@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;

  &__content {
    display: flex;
  }

  &__wrapper {
    flex-grow: 1;
    padding: 20px;
  }
}
